name: renovate-config-validator

on:
  pull_request:
    paths:
      - .github/workflows/renovate-config-validator.yml
      - renovate.json

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.3.0
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@v1.0.1
