name: tagpr

on:
  push:
    branches: ["main"]

jobs:
  tagpr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: read

    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1.12.0
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v4.3.1

      - name: Install aqua
        uses: aquaproj/aqua-installer@v3.1.2
        with:
          aqua_version: v2.56.7

      - name: Run tagpr
        run: tagpr
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
